* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}
*, *::after, *::before {
    box-sizing: border-box;
}

div.header {
    display: flex;
    height: 50px;
    width: 100%;
}

div.logo {
    float: left;
    height: 100%;
    width: 300px;
}

div.search {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-width: 200px;
    margin-left: 50px;
}

div.buttons {
    float: right;
    height: 100%;
    min-width: 300px;
}

button.bt_select_category {
    float: left;
    border-radius: 0;
    border: none;
    height: 100%;
    min-width: 170px;
    outline: none;
}

button.bt_search_action {
    float: left;
    border-radius: 0;
    height: 100%;
    border: none;
    outline: none;
    min-width: 100px;
    background-color: #04af00;
}

input.in_search_text {
    float: left;
    height: 100%;
    margin: 0px;
    width: 100%;
    padding-left: 10px;
    display: block;
    outline: none;
    border: 1px solid rgb(224, 224, 224);
}

img.img_button {
    float: left;
    margin-left: 20px;
    height: 100%;
    width: auto;
}
