<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="header.css">
    </head>
    <body style="margin-left: 50px; margin-right: 50px; margin-top: 20px;">
        <div class="header">
            <div class="logo">
                <img src="../../Images/Site/logo.jpg" style="height: 100%; width: auto;">
            </div>
            <div class="search">
                <button class="bt_select_category">
                    <span>Выбрать категорию</span>
                </button>
                <input type="text" class="in_search_text" placeholder="Поиск">
                <button class="bt_search_action">
                    <span style="color:white">Найти</span>
                </button>
            </div>
            <div class="buttons">
                <img class="img_button" src="../../Images/Site/call.png">
                <img class="img_button" src="../../Images/Site/favorite.png">
                <img class="img_button" src="../../Images/Site/compare.png">
                <img class="img_button" src="../../Images/Site/cart.png">
            </div>
        </div>
    </body>
</html>