.point_delivery {
    border-bottom: 2px solid rgba(224, 224, 224, 0.507);
}

.choose_delivery_list {
    list-style-type: none;
}

.radio_bt_text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.choose_address {
    display: none;
    margin-left: 35px;
    margin-top: 10px;
}

.address_text {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    border:  2px solid rgba(0, 0, 0, 0.507);
    cursor: pointer;
}

.address_text span {
    padding-left: 10px;
}

.address_text span::after {
    background-image: url(/Images/Site/drop_arrow.png);
    background-size: 12px 12px;
    display: inline-block;
    margin-left: 10px;
    width: 12px; 
    height: 12px;
    content:"";
}

.address_list {
    display: none;
    height: 120px;
    overflow-y: scroll;
    list-style-type:none;
    padding-left: 0;
    border-left:  2px solid rgba(99, 99, 99, 0.507);
    border-right:  2px solid rgba(99, 99, 99, 0.507);
    border-bottom:  2px solid rgba(99, 99, 99, 0.507);
}

.address_list li {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: -2px;
    padding-left: 10px;
    cursor: pointer;
}

.address_list li:hover {
    background-color: rgb(226, 226, 226);
}