.point_payment {
    border-bottom: 2px solid rgba(224, 224, 224, 0.507);
}

.payment_list {
    list-style-type: none;
}

.correct_label {
    display: none;
    margin-top: 10px;
    padding-left: 40px;
}

@media (max-width: 925px) {
    .payment_list {
        padding-left: 10px;
        padding-right: 10px;
    }

    .correct_label {
        padding-left: 10px;
    }
}