.purchase_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.data {
    width: 800px;
    min-width: 700px;
}

.point {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: max-content;
    padding-top: 20px;
}

.mark {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: rgb(221, 221, 221);
    min-width: 20px;
    padding: 3px;
    margin-right: 20px;
}

.labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 46px;
}

.label {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    padding-bottom: 30px;
}

.header_text {
    width: 100%;
    padding-bottom: 5px;
    color: rgb(163, 163, 163);
    font-size: 14px;
}

.data_text {
    width: 100%;
    height: 35px;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
    outline: none;
}

.error_text {
    width: 100%;
    display: none;
    visibility: visible;
    font-size: 14px;
    color: red;
    padding-top: 5px;
}

.city {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 39px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
    cursor: pointer;
}

.city span::after {
    background-image: url(/Images/Site/drop_arrow.png);
    background-size: 12px 12px;
    display: inline-block;
    margin-left: 10px;
    width: 12px; 
    height: 12px;
    content:"";
}

@media (max-width: 925px) {
    .labels {
        padding-left: 10px;
        padding-right: 10px;
    }

    .label {
        min-width: 100px;
        width: 100%;
    }

    .data {
        width: 100%;
        min-width: 100px;
    }

    .data_text {
        margin-right: 10px;
    }
}