<footer id="footer">
    <div class="container">
        <div class="holder_about">
            <h3 class="about">
                Магазин комплектующих для компьютера "My Shop"
            </h3>
        </div>
        <div class="holder_warnings">
            <span class="warnings">
                Данные были взяты с сайта <a href="https://brain.com.ua">brain.com.ua</a> и не используются в коммерческих целях. Сайт не продает реальные товары и не собирает информацию о пользователях
            </span>
        </div>
    </div>
</footer>