<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Computer components shop. Here you can buy any component for your PC">
<meta name="keywords" content="купить комплектующе ПК, купить комплектующие для компьютера, процессоры, видеокарты, материнские платы, HDD, SSD, жесткие диски
                                гибкие диски, кулеры для процессоров, ОЗУ, оперативная память, модули памяти, блоки питания, купить комплектующее">
<link rel="icon" href="/Images/favicon.ico">
