.filters {
    display: block;
    min-width: 250px;
    height: auto;
}

.filter_text b {
    font-size: 20px;
}

.filter_item {
    margin-top: 20px;
}

.filter_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.filter_img {
    height: 16px;
    width: 16px;
    margin-left: 15px;
    cursor: pointer;
}

.filter_finded {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-basis: auto;
    position: absolute;
    top: 300px;
    left: 150px;
    height: 20px;
    width: max-content;
    visibility: hidden;
    background: rgb(224, 223, 223);
    padding-left: 10px;
    padding-right: 10px;
}

.filter_finded span {
    font-size: 12px;
}

.filter_finded a {
    font-size: 12px;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
    color:rgb(79, 91, 255);
}

.filters_bt_media {
    display: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    margin: -20px 20px 10px 20px;
    background-color:  #04af00;
}

.filters_bt_media span {
    color: white;
}

.media_header_filters {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(2, 54, 11);
}

.logo_media {
    width: auto;
    height: 70%;
    padding-left: 10px;
}

.close_symbol {
    width: auto;
    height: 70%;
}

@media (max-width: 1050px) {
    .filters {
        display: none;
        position: fixed;
        overflow-y: scroll;
        top: 0;
        width: 70%;
        height: 100%;
        background-color: rgb(240, 240, 240);
        margin: 0px;
        margin-left: -5px;
    }
    
    .filters_bt_media  {
        display: flex;
    }

    .filter_item {
        padding: 0px 10px 20px 10px;
        border-bottom: 2px solid rgb(214, 214, 214);
    }

    .media_header_filters {
        display: flex;
    }

}