.goods_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin-left: 30px;
    width: 100%;
}

.goods_list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.goods_item {
    padding: 15px;
    outline-offset: -2px;
    outline: 2px solid green;
    width: 300px;
    min-width: 300px;
}

.goods_item a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.goods_img {
    width: 70%;
    height: auto;
}

.goods_name {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.goods_price {
    margin-top: 10px;
}

.goods_price b {
    font-size: 24px;
}

.goods_buttons {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.goods_buy_bt {
    width: 120px;
    height: 40px;
    color: white;
    background: #04af00;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.goods_buy_bt:hover {
    background: green;
}

.goods_img_bt {
    margin-left: 15px;
    height: 40px;
    width: auto;
}

.goods_pager {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    height: 50px;
    width: 100%;
}

.goods_pager a {
    display: flex;
    justify-content: center;
}

.pages_numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    width: auto;
}

.pages_numbers a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 35px;
    width: 40px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.pages_numbers a:hover {
    background: green;
}

.pages_numbers a span b {
    font-size: 24px;
    padding: 5px;
}

.pages_numbers a:hover span b {
    color: white;
}

.pager_arrow {
    height: 40px;
    width: auto;
}

.active {
    background: green;
}

.active span b {
    color: white;
}

.notFound {
    padding: 30px;
    font-size: 24px;
}

@media (max-width: 1050px) {
    .goods_img {
        width: 100px;
        height: auto;
    }

    .goods_buttons a {
        width: 100px;
    }

    .goods_buttons img:last-child {
        display: none;
    }

    .goods_buy_bt {
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 14px;
    }
    
    .goods_img_bt {
        display: block;
        margin-left: 5px;
        height: 30px;
        width: auto;
    }

    .goods_name {
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
        max-height: 30px;
        overflow-y: hidden;
    }

    .goods_item {
        padding: 10px;
        width: calc(48vw - 10px);
        min-width: calc(48vw - 10px);
    }

    .goods_content {
        margin: 5px;
        width: 100%;
    }

    .goods_pager {
        display: flex;
    }

    .pages_numbers {
        margin-left: 5px;
        margin-right: 5px;
    }

    .pages_numbers a {
        margin-left: 0px;
        margin-right: 0px;
        width: 32px;
    }
    
    .pager_arrow {
        height: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .pages_numbers a span b {
        font-size: 20px;
        padding: 5px;
    }

}