.body_main {
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 0 auto;
}

.route_list a {
    color: black;
}

.route_list li {
    display:inline-block;
}

.route_list li:hover {
    text-decoration: underline;
}

.route_list li::after{
    content: "  >";
    white-space: pre;
}

.route_list li:last-child::after{
    content: "";
}

.component_title {
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media (max-width: 1050px) {
    .body_main {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }

    .route_list {
        display: none;
    } 
}