div.search_body_main {
    margin-top: 30px;
    padding-left: 150px; 
    padding-right: 150px;
    padding-top: 20px;
}

ul.route_list li {
    display:inline-block;
}

ul.route_list li::after{
    content: "  >";
    white-space: pre;
}

ul.route_list li:last-child::after{
    content: "";
}

h1.component_title {
    font-size: 200%;
    margin-top: 30px;
}



