.body_main {
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 0 auto;
}

.route_list li {
    display:inline-block;
}

.route_list li::after{
    content: "  >";
    white-space: pre;
}

.route_list li:last-child::after{
    content: "";
}

.component_title {
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
}



