.content_body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.content_body a {
    height: 250px;
    width: 400px;
    margin-top: 30px;
    margin-right: 30px;
    border-style: solid;
    border-color: rgb(211, 210, 210);
}

.content_body_block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content_body_block:hover .block_img {
    height: 180px;
    transition: 0.3s;
}

.block_img {
    height: 150px;
    width: auto;
}

.content_body_block span b {
    font-size: 24px;
}

@media (max-width: 925px) {

    .content_body a {
        width: 100%;
        margin-top: 10px;
        margin-right: 0px;
    }
}
