.filters {
    min-width: 250px;
    height: auto;
}

.filter_text b {
    font-size: 20px;
}

.filter_item {
    margin-top: 20px;
}

.filter_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.filter_img {
    height: 16px;
    width: 16px;
    margin-left: 15px;
    cursor: pointer;
}

.checkbox {
    display: none;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark_text {
    font-size: 18px;
    margin-left: 10px;
}

.checkmark {
    height: 24px;
    width: 24px;
    background-color: rgb(216, 216, 216);
}

.checkbox:hover input ~ .checkmark {
    background-color: rgb(184, 182, 182);
}
  
.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    color: white;
    text-align: center;
    content: "✔";
    display: none;
}
  
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
