* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}
*, *::after, *::before {
    box-sizing: border-box;
}

.header_holder {
    outline: 2px solid rgba(224, 224, 224, 0.507);
}

.header {
    display: flex;
    height: 90px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(2, 54, 11);
}

.logo {
    float: left;
    height: 50px;
    width: 300px;
}

.logo img {
    height: 100%; 
    width: auto;
}

.search {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    min-width: 200px;
    margin-left: 50px;
}

.bt_select_category {
    float: left;
    border-radius: 0;
    border: none;
    height: 50px;
    outline: none;
    background: rgb(240, 240, 240);
    cursor: pointer;
    transition: 0.3s;
}

.bt_select_category:hover {
    background: rgb(225, 225, 225);
}

.bt_select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 185px;
}

.bt_select span {
    font-size: 14px;
    padding-right: 10px;
}

.bt_select::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    float: inline-end;
    background: url('/Images/Site/drop_arrow.png');
    background-size: cover;
}

.category_list {
    display: none;
    filter: drop-shadow(0 2px 4px #cfcfcf);
}

.category_list li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(224, 224, 224);
    background: white;
}

.category_list li span {
    text-align: center;
    font-size: 14px;
}

.in_search_text {
    width: 100%;
    border: 0px;
    padding: 20px;
    outline-offset: -2px;
    outline: 2px solid rgba(224, 224, 224, 0.507);
}

.bt_search_action {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    min-width: 120px;
    background-color: #04af00;
    transition: 0.3s;
}

.bt_search_action:hover {
    background-color: #059c02; 
}

.bt_search_action span {
    color:white;
    font-size: 20px;
}

.buttons {
    float: right;
    height: 50px;
    min-width: 300px;
}

.buttons a {
    float: left;
    margin-left: 20px;
    height: 50px;
    width: auto;
    cursor: pointer;
}

.img_button {
    float: left;
    margin-left: 20px;
    height: 50px;
    width: auto;
    cursor: pointer;
}

.img_button:hover {
    cursor: pointer;
}

@media (max-width: 1050px) {
    .header {
        display: none;
    }
}