.warranty_bt {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    margin-left: 34px;
    margin-top: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.warranty_bt input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.radio_bt {
    height: 24px;
    width: 24px;
    cursor: pointer;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 50%;
}

.radio_bt_text {
    padding-left: 10px;
    padding-right: 30px;
}

.radio_bt:hover {
    border: 2px solid rgb(116, 116, 116);
}

.warranty_bt input:checked ~ .radio_bt {
    border: 7px solid #04af00;
}
