.stats_and_desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.stats_and_desc .block {
    display: block;
    padding: 20px;
    width: 750px;
    height: max-content;
    outline-offset: -2px;
    outline: solid 2px rgb(206, 206, 206);
}

.stats_and_desc .block:last-child {
    margin-left: 30px;
}

.desc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.desc_holder {
    height: 190px;
    overflow: hidden;
    width: 100%;
    transition: 500ms;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stats_list_holder {
    height: 190px;
    overflow: hidden;
    width: 100%;
    transition: 500ms;
}

.stats_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition: height .5s;
}

.stats_list div { 
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.stats_list div span:first-child{ 
    min-width: 300px;
    margin-right: 30px;
}

.hide_bt {
    margin-top: 30px;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(111, 160, 219);
}


@media (max-width: 1050px) {

    .stats_and_desc {
        flex-wrap: wrap;
    }

    .stats_and_desc .block {
        min-width: 300px;
        margin: 0px 20px 10px 20px;
    }

    .stats_and_desc .block:last-child {
        margin-left: 20px;
    }

    .stats_list {
        padding-left: 5px;
        padding-right: 5px;
    }

    .stats_list div span:first-child{ 
        min-width: 150px;
        max-width: 150px;
    }
    
    .stats_list div span {
        font-size: 14px;
    }
}